* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

.section-p1 {
    padding: 60px 100px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #813311;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 80px;
    position: relative;
    justify-content: space-between;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #FFD700;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #FFD700;
    position: absolute;
    bottom: -4px;
    left: 57px;
}

#navbar .back {
    background-color: #fff;
    color: #813311;
    border: 0;
    padding: 10px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 750;
    font-size: 16px;
    border-radius: 10px;
}

#navbar .back:hover {
    background-color: #FFD700;
    color: #813311;
}

#hero {
    background-image: url("Self-Assessment-Tax.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 80% right 90%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero .register button {
    background-color: #813311;
    color: #fff;
    border: 0;
    padding: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 1000;
    font-size: 30px;
    border-radius: 20px;
}

#hero .register button:hover {
    color: #813311;
    background-color: #FFD700;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #813311;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#footer .navbar1 {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}